.event-item {
	cursor: pointer;
	border-top: 1px solid #ddd;
}

.event-item:hover {
	background: rgba(0, 0, 0, 0.02);
}

.event-item-content {
	position: relative;
	padding: 10px 52px;
	transition: transform 0.2s;
}

.event-item-content:hover {
	transform: translateX(4px);
}

.event-item-content > svg {
	position: absolute;
	top: 40%;
	left: 24px;
}

.event-item-content > p {
	margin: 0;
}

.event-item.past {
	opacity: 0.1;
	border-top: 1px solid #888;
}

.event-item.present {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
